/* reset values for all web browsers */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* background-color: #002244; */
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h3 {
    color: white;
    padding-left: 48px;
}

.hide {
    display: none;
}

.video_parent_signedin {
    background-color: #128CFA;
}

.show {
    display: grid;
}
/* MAP */
#map{
    height: 100%;
}

/* Modal */
/* The Modal (background) */

.showshoppingcart{
    display: inline-flex;
}

.hideshoppingcart{
    display: none;
}



.showadminicon{
    display: inline-flex;
}

.hideadminicon{
    display: none;
}

#adminButton{
    width:90px;
    margin-bottom:-8px;
    margin-right: 48px;
}

#shoppingCartButton{
    width: 90px;
    margin-bottom:-8px;
    margin-right: 48px;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {
      padding: 2px 16px;
    display:flex;
}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }




/* Partners */

.description__section h1 {
    font-size: 48px;
    text-align: center;
    color: white
}

.description__section p {
    font-size: 22px;
    text-align: center;
    color: white
}

.grid {
    padding: 3em;
}

.grid-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5em;
}

.item {
    flex: 1 1 30%;
    padding: 0.5em;
}

.item-inner {
    background-size: cover;
    background-image: url('../imgs/netflix.png');
    padding-top: calc(100% / (20/9));
}

.item:nth-child(2) .item-inner {
    background-image: url('../imgs/finra.png');
}

.item:nth-child(3) .item-inner {
    background-image: url('../imgs/airbnb.png');
}


/* Alert */

.alert-container-parent {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: transparent;
    padding: 0px;
    font-size: 16px;
    z-index: 100;
}

.alert_button {
    padding: 8px 16px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #44A1F5;
    color: white;
    letter-spacing: 1px;
    cursor: pointer;
}

.alert {
    background: #0486FB;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    top: 130px;
    border-radius: 4px;
    border-left: 8px solid #44A1F5;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    /* 40% {
        transform: translateX(-10%);
    } */
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    /* 80% {
        transform: translateX(-10%);
    } */
    100% {
        transform: translateX(100%);
    }
}

.alert .fa-exclamation-circle {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #44A1F5;
    font-size: 30px;
}

.alert .msg {
    padding: 0 20px;
    font-size: 18px;
    color: #F1F1F1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #0486FB;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #0486FB;
}

.alert .close-btn .fas {
    color: #44A1F5;
    font-size: 22px;
    line-height: 40px;
}


/* SignUpIn Formular */

.form-container-parent-parent {
    /*background: #f6f5f7;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    /*height: 80vh;*/
    /* margin: -20px 0 50px; */
    padding-top: 220px;
    padding-bottom: 80px;
}

.form-container-parent {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    display: none;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.form-container-parent h1 {
    font-weight: bold;
    margin: 0;
}

.form-container-parent h2 {
    text-align: center;
}

.form-container-parent p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

.form-container-parent span {
    font-size: 12px;
}

.form-container-parent a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.form-container-parent button {
    border-radius: 20px;
    border: 1px solid #0486FB;
    background-color: #0486FB;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.form-container-parent button:active {
    transform: scale(0.95);
}

.form-container-parent button:focus {
    outline: none;
}

.form-container-parent button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
}

.form-container-parent form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

.form-container-parent input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    z-index: 100;
}

.sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.form-container-parent.right-panel-active .sign-in-container {
    transform: translateX(100%);
}

.sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.form-container-parent.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%,
    49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%,
    100% {
        opacity: 1;
        z-index: 5;
    }
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 3;
}

.form-container-parent.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    background: #0163BC;
    background: -webkit-linear-gradient(to right, #0486FB, #0163BC);
    background: linear-gradient(to right, #0486FB, #0163BC);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #FFFFFF;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.form-container-parent.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left {
    transform: translateX(-20%);
}

.form-container-parent.right-panel-active .overlay-left {
    transform: translateX(0);
}

.overlay-right {
    right: 0;
    transform: translateX(0);
}

.form-container-parent.right-panel-active .overlay-right {
    transform: translateX(20%);
}


/* Footer */

footer {
    background: #f1f1f1;
    padding: 90px 0;
}

.footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}

.footer-logo {
    width: 100px;
}

.footer-logo:hover {
    opacity: .7;
}

.footer-social-media {
    margin: 20px 0;
}

.footer-social-media a {
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.footer-social-media a:hover {
    color: #0486FB;
}

.footer-right-col h1 {
    font-size: 26px;
}

.footer-border {
    width: 100px;
    height: 4px;
    background: #0486FB;
}

.footer-newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
}

.footer-txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    color: #293043;
    background: #ddd;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    min-width: 260px;
    margin-top: 20px
}

.footer-btn {
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #0486FB;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.footer-container button {
    margin-top: 20px;
}

.footer-btn:hover {
    opacity: .7;
}

button {
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #0486FB;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

button:hover {
    opacity: 0.7;
}


/*Navbar */

.navbar {
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
    padding-top: 24px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 6;
}

.container__navbar nav {
    font-family: sans-serif;
    background-color: transparent;
    height: 120px;
    width: 100%;
    margin-bottom: 60px;
}

.container__navbar .logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}

.container__navbar img {
    width: 120px;
    padding-left: 48px;
    padding-top: 12px;
}



.container__navbar img:hover {
    opacity: 0.7;
}

nav ul {
    float: right;
    margin-right: 20px;
}



/* nav ul {} */

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

.container__navbar .active,
.container__navbar a:hover {
    background-color: #0486FB;
    transition: 0.5s;
}

.buttonSignin {
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: #0486FB;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 30px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.buttonSignin:hover {
    opacity: 0.7;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.description__section {
    height: 600px;
    background-color: #FFCF38;
}

.description__section h2 {
    color: #fff;
    padding-top: 30px;
    text-align: center;
}

.header-content {
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    width: 100%;
}


/* header {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);

    height: auto;
    padding: 48px;
    width: 100%;
} */

.video_parent {
    background-color: #0163BC;
}

.container-video {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 40px;
    padding: 60px 0;
}

.text--medium {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ecf0f1;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column-end: span 4;
    display: flex;
    flex-direction: column;
    background-color: #39393b;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border-radius: 30px 30px;
}

.card:hover {
    transform: translateY(-7px);
}

.card__image-container {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.card__image-container video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card__content {
    padding: 20px;
}

.card__title {
    margin-bottom: 20px;
}

.card__info {
    display: flex;
    align-self: end;
    align-items: center;
}

.card__author {
    margin-left: auto;
    padding: 5px 20px;
    background-color: #303032;
    border-radius: 20px;
}

.container {
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    /* margin-bottom: 100px; */
    padding-top: 50px;
}

.container a:hover {
    opacity: 0.7;
}

.headerimg img {
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moveTop 1s ease-in;
}

.textos {
    width: 50%;
    color: #fff;
}

.textos h1 {
    font-size: 70px;
    animation: moveRight 1s ease-in;
}

.textos h2 {
    font-size: 25px;
    animation: moveLinks 1s ease-in;
}

.textos a {
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: moveTop 1s ease-in;
}

.wave {
    height: 100px;
    width: 100%;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.wave2 {
    height: 100px;
    width: 100%;
    background-color: #FFCF38;
}

.wave3 {
    height: 100px;
    width: 100%;
    background-color: #D74300;
}

.wave4 {
    height: 100px;
    width: 100%;
    background-color: #128CFA;
}

.menu-inactive {
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.menu-active {
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}

.textvideo h1 {
    font-size: 48px;
    text-align: center;
    color: white
}

.textvideo p {
    font-size: 22px;
    text-align: center;
    color: white
}

.links {
    position: fixed;
    display: flex;
    top: 0;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    left: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.price__description {
    height: 600px;
    background-color: #fff;
}

.container__table {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.tab__table {
    background-color: #fff;
    width: 280px;
    padding: 40px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
}

.name__table h1 {
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.price__table h2 {
    font-size: 40px;
}

.price__table span {
    font-size: 12px;
}

.separator__table hr {
    height: 7px;
    width: 100%;
    margin: auto;
    background-color: #0486FB;
    border: none;
    border-radius: 50px;
    margin-top: 20px;
    transition: 0.4s;
}

.list__table {
    margin-top: 50px;
    text-align: left;
}

.list__table li {
    margin: 20px 0;
}

.list__table li::before {
    content: '✓';
    margin-right: 20px;
    color: #0097e6;
}

.list__table .line__table::before {
    content: 'x';
    margin-right: 20px;
    color: #2f3640;
}

.add__table button {
    background-color: #004D92;
    color: #fff;
    outline: none;
    border: none;
    padding: 12px 50px;
    font-size: 15px;
    font-weight: 300;
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

button:hover {
    background-color: #0486FB;
}


/* .title__table h1 {
    background-color: #FF7638;
    color: #fff;
    font-size: 50px;
    text-align: center;
    margin: 0;
} */

.title__table h1 {
    font-size: 48px;
    text-align: center;
    color: white
}

.title__table p {
    font-size: 22px;
    text-align: center;
    color: white
}

.table-parent {
    background-color: #D74300;
}


/* media querys for responsive */

@media only screen and (max-width: 1150px) {
    .card {
        grid-column-end: span 6;
    }
    .headerimg img {
        height: 380px;
    }
    .footer-container {
        max-width: 600px;
    }
    .footer-right-col {
        width: 100%;
        margin-bottom: 60px;
    }
    .footer-left-col {
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    .headerimg img {
        height: 350px;
    }
    .textos h1 {
        font-size: 45px;
    }
    .textos h2 {
        font-size: 15px;
    }
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background: -webkit-linear-gradient(to right, #004e92, #000428);
        background: linear-gradient(to right, #004e92, #000428);
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    a:hover,
    a.active {
        background: none;
        color: #fff;
    }
    #check:checked~ul {
        left: 0;
    }
}

@media screen and (max-width: 700px) {
    .headerimg img {
        height: 270px;
    }
    .textos h1 {
        font-size: 40px;
    }
    .textos h2 {
        font-size: 12px;
    }
    main {
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 12;
    }
    .footer-btn {
        margin: 0;
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 550px) {
    main {
        grid-template-columns: 10px repeat(6, 1fr) 10px;
        grid-gap: 10px;
    }
    .cards {
        grid-column: 2 / span 10;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 20px;
    }
    .card {
        grid-column-end: span 6;
    }
    .container {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .headerimg img {
        height: 220px;
    }
    .textos {
        width: 100%;
        text-align: center;
    }
    .textos a {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .textos h1 {
        margin-top: 30px;
        font-size: 40px;
    }
    .textos h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 340px) {
    .headerimg img {
        height: 160px;
    }
    .textos h1 {
        font-size: 30px;
    }
    .textos a {
        width: 120px;
    }
    .textos h2 {
        font-size: 8px;
    }
}


/* Animation functions */

@keyframes moveLinks {
    0% {
        opacity: 0;
        transform: translate(-100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight {
    0% {
        opacity: 0;
        transform: translate(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}